<! DOCKTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Query_Parser </title>
		<link rel="stylesheet" href="webbsite.css"/>
	</head>
	<body>
		<div class="container">
		<header>
		<h2>
			Query Search
		</h2>
			<form action="/" method="POST">
				Query:<input type="text">
				<input type="submit" value="Submit">
			</form>
		 <!-- 
				<nav class="nav_t">
						<ul>
								<li><a href="">home</a></li>
								<li><a href="">my fav</a></li>
								<li><a href="">playlist</a></li>
								<li><a href="">videos</a></li>
								<li><a href="">my channel</a></li>
								<li><a href="">sign out</a></li>
								<li><a href="">sign in</a></li>
						</ul>
				</nav>
				<div class="clear"></div>
		
		</header>
		<section class="main">
			<div >
				<header>
					<h3> RECOMMEND VIDEOS</h3>
				</header>
				<p><h4><a href=""> <span>sppinnin records</span> </a></h4></p>
					<div id="viedo">
						<video controls width="100px" height="100px">
							<source src="spinnin1.mp4" type="video/mp4"/>
						</video>
						<video controls width="100px" height="100px">
							<source src="spinnin3.mp4" type="video/mp4"/>
						</video>
						
					</div>
				        <div id="zvideo">
							<p><a href=""><h4> Vevo  </h4></a></p>
							<video controls width="100px" height="100px" >
								<source src="spinnin2.mp4" type="video/mp4" />
							</video>
						</div>
						
				<p><a href=""><h4> miley cirus </h4></a></p>	
						<div id="yvideo">
							<video controls width="100px" height="100px">
							<source src="miley.mp4" type="video/mp4"/>
							</video>
						
						</div>
				<footer>
					<a href="">more videos</a>
				</footer>
			</div>
		</section>
		<aside class="faltu">
			<div>
				<h2> social links </h2>
				<ul>
					<li><a href=""> faceboook </a></li>
					<li><a href=""> twitter </a></li>
				
					<li><a href=""> instagram</a></li>
				</ul>
			</div>
			<h3> playlist  </h3>
				<ul>
					<li><a href=""> the new boston  </a></li>
					<li><a href=""> quentin watt  </a></li>
					<li><a href=""> vevo  </a></li>
					<li><a href=""> spininin records </a></li>
					<li><a href=""> gooogle   </a></li>
					<li><a href="">  technoworks</a></li>
				</ul>
			<div>
				<article>
					<a href="">more videos</a>
				</article>
			</div>
		</aside>
		<div class="last_man">
			<footer >
				copyright of the @slowtube@2013
			</footer>
		</div>
	</div>
	</body> 

</html>
//-->